notebook_demo_covarrnetpillar6_test_files
.DS_Store
.Rhistory
Rnotebook_demo_covarrnetpillar6_old.Rmd
.format_table_last
.RData
data_needed/*
scripts/__pycache__
# the HTML is the public facing document, to be reviewed before release
duotang.md
.vs
scripts/.vscode
.checkpoint
.secret/*
checkpoint
duotang-sandbox_files
duotang-sandbox.html
duotang-sandbox.md
geckodriver.log
paphlagon
update.*.log
update.*.xz
wget*
update.log
duotang-sandbox.md
geckdriver.log
geckodriver.log
duotang.md
duotang-sandbox.md
allparams.rds
duotang-GSD_files
updatemonitor.log
duotang*.md
rebuild.log
duotangGSD_files