#!/bin/bash

#activate the venv
source ~/duotang_venv/bin/activate
cd ~/duotang

#get the last duotang update date and convert to epoch
echo `date`

#duotangver=`cat duotangCurVer`
duotangver=`python scripts/UpdateStatusManager.py --action get --key LastUpdated`

duotangverepoch=`date --date="${duotangver}" +"%s"`

#get the virusseq version from the latest viral ai update.
dnastack collections list | python3 -c "import sys, json; a=(json.load(sys.stdin)); b=[child for child in a if child['slugName']=='virusseq']; c=b[0]['description']; d=c[c.find('Release:'):].split('('); releaseDate=d[0].replace('Release:','').replace('</strong>','').replace('&nbsp;',' ').strip(); hash=d[1].replace('identifier:','').replace(')</p>','').strip(); print (releaseDate); print (hash)" > viralaiver

#convert the date to epoch
viralaidate=`sed -n '1p' viralaiver`
viralaidate2=`date --date="${viralaidate}" +'%Y-%m-%d'`
viralaiepoch=`date --date="${viralaidate2}" +"%s"`
viralaiid=`sed -n '2p' viralaiver`

rm viralaiver

if (( $viralaiepoch > $duotangverepoch )); then
	#query the virusseq data portal for their latest update. 
	virusseqid=`curl -s -X GET "https://singularity.virusseq-dataportal.ca/archives?createdAfterEpochSec=$duotangverepoch&sortDirection=DESC" -H  "accept: application/json" | python3 -c "import sys, json; a=(json.load(sys.stdin)); print(a['content'][0]['id'].strip());"`
	if [ "$viralaiid" = "$virusseqid" ]; then
		echo "Update found. Release $viralaidate2, ID: $virusseqid"
		git pull --recurse-submodules
		if read -r first_line < "checkpoint" && [[ "$first_line" == "finish" ]]; then
			rm checkpoint
			python scripts/duoli.py --message "ViralAI updated with release date $viralaidate2, id: $viralaiid. Starting update process..."
		else
			python scripts/duoli.py --message "ViralAI updated with release date $viralaidate2, id: $viralaiid. Last update attempted failed, attempting to restart the update process..."
		fi
		bash ./update.sh --noconda --venvpath "/home/jjjjia/duotang_venv" --includegsd --clean --gitpush > update.log 2>&1
		status=$( tail -n 1 update.log )
		echo $status
		if [[ "$status" == "Update completed successfully" ]]; then
			python scripts/duoli.py --message "Update complete, see dev branch https://github.com/CoVaRR-NET/duotang/tree/dev"
			python scripts/UpdateStatusManager.py --action set --key LastVirusSeqRelease --value $viralaidate2
			python scripts/UpdateStatusManager.py --action set --key LastVirusSeqReleaseID --value $virusseqid
			python scripts/UpdateStatusManager.py --action set --key Rebuild --value "False"
			python scripts/UpdateStatusManager.py --action set --key Approved --value "False"
		else
			lastError=`tail -n 5 update.log`
			python scripts/duoli.py --message "There was an issue with the update. See logs attached. Last 5 lines of log: $lastError ." --file "update.log"
		fi
	else
		echo "Found update on ViralAI, but it's not the latest update found on virusseq" 
	fi
else
	echo "no update" 
fi

sleep 10s

#crontab entry
#30 * * * *  /usr/bin/flock -n ~/duotang/updatemonitor.log -c "/bin/bash ~/duotang/scripts/UpdateMonitor.service > ~/duotang/updatemonitor.log "
